# -----------------------------------------------------------------------------
# Rust / Tauri
# -----------------------------------------------------------------------------
/target/
/src-tauri/target/
/gen/schemas

# -----------------------------------------------------------------------------
# Frontend / Node / Vite / React
# -----------------------------------------------------------------------------
/node_modules/
/dist/
/build/
/.vite/

# -----------------------------------------------------------------------------
# Environment & logs
# -----------------------------------------------------------------------------
.env
.env.local
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# -----------------------------------------------------------------------------
# Windows OS
# -----------------------------------------------------------------------------
Thumbs.db
ehthumbs.db
Desktop.ini

# -----------------------------------------------------------------------------
# Editor / IDE / Visual Studio Code / IntelliJ etc
# -----------------------------------------------------------------------------
.vscode/
.idea/
*.suo
*.ntvs*
*.psess
*.vsp
*.user
*.userosscache
*.sln.docstates

# -----------------------------------------------------------------------------
# Miscellaneous
# -----------------------------------------------------------------------------
.DS_Store
