.controlador{
  display: grid;
  grid-template-columns: 50% 50%; 
  gap: 10px;
  height: 100%;

}

.stock{
  display: grid;
}

.formStock{
  display: grid;
  grid-template-columns: 30% 70%; 
  gap: 4px;
  justify-self: end;
  width: 80%;

  background-color: #f2f2f2;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.formStock label{
  justify-self: end;
  
  background-color: #fafafa;
  color: #333;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.formStock input{
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  background-color: #f7f7f7;
  color: #333;
}

.formStock label,
.formStock input{
  font-size: 16px;
}

.formStock button{
  display: flex;
  align-items: center;
  gap: 4px;
  background: transparent;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;

  background-color: #0056B3;
  color: #FFFFFF;
  transition: background 0.2s ease;

}

.formStock button:hover {
    background:  #0070E0; 
}

.controladorStock{
  justify-self: end;
  border: 1px solid black;
  width: 90%;
  height: 55vh;
}

