.Home{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* horizontal */
    align-items: center;
    background-color: rgba(122, 223, 223, 0.863);
}

.logo_app{
    width: 600px;
    
}