html, body {
  height: 100%;
  margin: 0;
  
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto; /* header, main, footer */
  min-height: 100vh;
}

.layoutContent {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

